   @font-face {
   font-family: "Inter";
   src: url(assets/fonts/Inter-VariableFont_slnt,wght.ttf);
 }
    body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width :100vw;
      height:100vh;
      background-color:#141414;
    }
    .card{
      display: flex;
      flex-direction: column;
      width:327px;
      background-color:hsl(0,0%,12%);
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      padding: 23px;
    }
    .card h2{
      color:#FFFFFF;
      margin-bottom: 7px;
      font-weight: 700;

    }
    .card img{
      width:90px;
      border-radius: 50px;
      margin-bottom: 16px;
    }
    p{
      color:#C5F82A;
      margin-bottom: 28px;
      font-weight: 700;

    }
    .Bio{
      margin-bottom: 27px;
      color:#FFFFFF;
      font-weight: 500;

    }
    .attribution {
      font-size: 11px;
      text-align: center;
      color:#FFFFFF;
    }
    .buttons-group{
      display: flex;
      flex-direction: column;
      gap:17px;
      width:100%;
    }
   .card button{
     align-self: left;
     display: inline-block;
      width:100%;
      background-color:#333333;
      color:#FFFFFF;
      border:none;
      font-weight: 700;
      border-radius: 10px;
      padding: 14px 0;
      
      transition: background-color 0.3s ease;
    }
    .card button:hover {
      background-color: hsl(75, 94%, 57%);
      color: black;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }